body {
  background: #000000 url(RSlogo2.jpg) 50% fixed;
  background-size: 100% auto;
  font-family: Georgia, serif;
  font-size: 15px;
  color: #c6cfda;
  padding: 10px;
}

img {
    width: 100%;
    height: auto;
  }

#icon {
  width:15px;
  height:15px;
}