body {
  background: #000000 url(RSlogo2.jpg) 50% fixed;
  background-size: 100% auto;
  font-family: Georgia, serif;
  font-size: 15px;
  color: #c6cfda;
  padding: 10px;
}

img {
    width: 100%;
    height: auto;
  }

#icon {
  width:15px;
  height:15px;
}

a:link {
  color: #c6cfda;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #c6cfda;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(0, 68, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 68, 255);
  background-color: transparent;
  text-decoration: underline;
}