body {
    padding: 10px;
    font-family: system-ui;
    font-size: 19px;
    background-color: #000000;
    color: #c6cfda
  }

img {
    width: 100%;
    height: auto;
  }

#obsidian-logo {
  width:100px;
  height:100px;
}